@{
    ViewBag.Title = "Reporte";
}

<h2>Reporte de Ingresos</h2>
<h5 id="sumatoria" class="mt-3 text-success"></h5>
<div>

    <canvas id="grafico"></canvas>
</div>

@section Scripts {
    <!--Librería para gráficos-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/Scripts/graficoChartJS.js"></script>
    <script type="text/javascript">
        var colores = @Html.Raw(Json.Encode(ViewBag.grafico.Colores));
        colores = colores.split(",");
        var etiquetas = @Html.Raw(Json.Encode(ViewBag.grafico.Etiquetas));
        etiquetas = etiquetas.split(",");
        var valores = @Html.Raw(Json.Encode(ViewBag.grafico.Valores));
        valores = valores.split(",");
        var sumaValores = 0;
        for (var i = 0; i < valores.length; i++) {
            if (!isNaN(parseFloat(valores[i])) && isFinite(valores[i])) {
                sumaValores += parseFloat(valores[i]);
            }
        }

        document.getElementById("sumatoria").innerHTML = "Total de Ingresos Anual " + sumaValores;
        var titulo =@Html.Raw(Json.Encode(ViewBag.grafico.titulo));
        var tituloEtiquetas =@Html.Raw(Json.Encode(ViewBag.grafico.tituloEtiquetas));
        var tipo = @Html.Raw(Json.Encode(ViewBag.grafico.tipo));
        grafico(titulo, tituloEtiquetas, tipo, colores, etiquetas, valores);
    </script>
}