@model IEnumerable<Infraestructure.Models.AreaComun>


@{
    ViewBag.Title = "Inicio";
}

<h2 style="text-align:center">Áreas Comunes </h2>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4" style="margin: 0 auto">
            <div class="card">
                @Html.DisplayFor(modelItem => item.foto)
                <div class="card-body" style="text-align:center">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h5>
                    <a style="background:rgb(159, 126, 0)" href="@Url.Action("Details", "AreaComun", new { id = item.id })" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i> Detalle</a>
                </div>
            </div>
            <br />
        </div>
    }
</div>
